.editor-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__request-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
  }

  & .editor-container__run-button {
    position: absolute;
    top: 30px;
    right: 0;
    transform: translateX(50%);

    svg {
      width: 50px;
      height: 50px;
    }
  }
}

.editor-tabs {
  display: flex;
  flex-direction: column;
}

.editor-tabs_open {
  height: 30%;
}

.editor-tabs:not(.editor-tabs_open) .MuiTabs-indicator {
  display: none;
}

.editor-tabs__header {
  display: flex;
  justify-content: space-between;
}

.editor-tabs__tab-panels {
  flex: 1;
}

.editor-tabs__tab-panel {
  height: 100%;
}


