.header {
  padding: 50px 16px;
  transition: all 0.3s;

  .active {
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $color-additional;
      left: 0;
      top: 100%;
    }
  }

  &__link {
    background-color: $color-additional;
    color: $color-secondary;
    padding: 1rem 1.2rem;
    border-radius: 0.4rem;
    transition: all 0.3s;

    &:hover {
      color: $color-additional;
      background-color: $color-additional-2;
    }


    &_outlined {
      color: $color-additional;
      background-color: transparent;
      border: 1px solid $color-additional;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 10px 16px;
  background-color: $color-additional;
  transition: all 0.3s;

  & > a {
    color: $color-secondary;
  }

  .active {
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $color-secondary;
      left: 0;
      top: 100%;
    }
  }

  &__link {
    background-color: transparent;
    color: $color-secondary;
    border: 1px solid $color-secondary;
    padding: 1rem 1.2rem;
    border-radius: 0.4rem;
    transition: all 0.3s;

    &:hover {
      color: $color-additional;
      background-color: $color-additional-2;
    }


    &_outlined {
      color: $color-additional;
      background-color: $color-secondary;
    }
  }

}

.links__container{
  display: flex;
  gap: 8px;
  margin-left: auto;
}
