:root {
  font-family: 'Inconsolata', 'Source Code Pro', monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background: $color-primary;
  color: $color-additional;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  overflow-x:hidden;
  overflow-y: auto;
  font-size: 1.4rem;
}

#root {
  width: 100%;
  height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main {
  flex-grow: 1;
  width: 100%;
  position: relative;

}

.container{
  max-width: 1280px;
  padding: 20px 0;
  margin: 0 auto;
  & > * {
    height: 100vh;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

footer,
header {
  width: 100%;
  background: $color-secondary;
  text-align: center;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;

  & > a {
    color: $color-additional;
    position: relative;
    transition: color 0.2s;

    &:hover {
      color: $color-additional-2;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s,
  color 0s 600000s;
}

.Mui-selected {
  color: $color-additional !important;
}

.MuiTabs-indicator {
  background-color: $color-additional !important;
}

.MuiButtonBase-root.MuiButton-root {
  border-color: $color-additional;
  color: $color-additional;
  font-family: "Inconsolata", "Source Code Pro", monospace;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.3rem;
  border-radius: 0.8rem;

  &.Mui-disabled {
    border-color: $color-secondary;
    color: $color-secondary;
  }
}



