$color-primary: #182039;
$color-secondary: #1e2745;
$color-additional: #50b5ff;
$color-button: #DB7093FF;
$color-error: #DB7093FF;
$color-button: #e535ab;
$color-additional-2: #075591;
$color-font: #fff;
$color-border: #8c91b6;
$color-hovered: #bcd0e5;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$font-family: 'Inconsolata', 'Source Code Pro', monospace;
