$color-primary: #182039;
$color-secondary: #1e2745;
$color-additional: #50b5ff;
$color-button: #ef29e4ff;
$color-border: #8c91b6;
$color-hovered: #bcd0e5;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
