.editor-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;

  &__request-section,
  &__response-section {
    min-width: 100%;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $color-secondary;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-border;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color-hovered;
  }

  &__request-section {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  & .editor-container__run-button {
    position: absolute;
    top: 30px;
    right: -30px;
    transform: translateX(50%);
    padding: 0;

    svg {
      width: 50px;
      height: 50px;
    }

    svg:hover {
      color: $color-additional;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $color-additional;
      z-index: -1;
    }

    &:hover::after {
      background-color: $color-additional-2;
    }
  }
}

.editor-tabs {
  display: flex;
  flex-direction: column;

  &__button {
    width: 48px;
    color: $color-additional;
  }
}

.editor-tabs_open {
  height: 30vh;
}

.editor-tabs:not(.editor-tabs_open) .MuiTabs-indicator {
  display: none;
}

.editor-tabs__header {
  display: flex;
  justify-content: space-between;

  .editor-tabs__tab-button,
  .editor-tabs__button {
    color: $color-border;
  }
}

.editor-tabs__tab-panels {
  flex: 1;
}

.editor-tabs__tab-panel {
  height: 100%;
}
