.doc-section {
  background-color: $color-primary;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 415px;
  z-index: 2;
  border-left: 10px solid $color-button;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0 3rem;

  &__back-btn {
    background-color: transparent;
    border: 1px solid $color-additional !important;
    color: $color-additional !important;
    align-self: flex-end;
    margin-right: 4rem !important;
    transition: all 0.3s;


    &:hover {
      background-color: $color-additional !important;
      color: $color-primary !important;
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-border;
    margin: 2rem 0;
  }

  &__args {
    display: flex;
    flex-direction: column;
    color: $color-border;

    & > h4 {
      padding-left: 20px;
      color: $color-additional;
      margin-bottom: 1rem;
    }
  }

  &__description {
    color: $color-font;
  }


  &__title {
    padding: 2rem 2rem 0;
    margin-bottom: 1rem;
  }


  &__list {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: $color-additional;
    overflow-y: auto;

    & > h3 {
      padding-left: 2rem;
      text-decoration: underline;
    }

  }


  &__description-item {
    padding-left: 2rem;
    color: $color-border;
  }

  &__item {
    font-size: 1.8rem;
    color: $color-button;
    cursor: pointer;
    padding: 1rem 2rem;
    text-align: left;
    transition: all 0.3s;


    & > span {
      color: $color-border;
      margin-left: 1rem;
    }

    &:hover {
      background-color: $color-additional-2;
    }
  }

  &_close {
    transform: translateX(405px);
  }


  &__btn {
    position: absolute !important;
    background-color: $color-button !important;
    transform: rotate(-90deg) translateX(-30%);
    right: 97.5% !important;
    top: 30% !important;
    color: $color-font !important;
    height: 30px !important;

  }

  &__progress {
    color: $color-font !important;
    width: 13px !important;
    height: 13px !important;
  }

  .Mui-disabled {
    color: #565156 !important;
  }
}
