.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 200px;

  @media (max-width: 768px) {
    padding-top: 50px;
  }
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 40rem;

  @media (max-width: $mobile-big-width) {
    padding: 0 1rem;
    width: 100%;
  }

  button {
    margin: 0.6rem 0;
  }

  .MuiButtonBase-root.MuiButton-root {
    background-color: $color-additional;
    color: $color-font;
    font-family: 'Inconsolata', 'Source Code Pro', monospace;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 0.8rem;

    @media (hover:hover) {

      &:hover {
        background-color: #075591;
        color: $color-additional;
      }
      
    }

    &.Mui-disabled {
      background-color: $color-secondary;
      color: $color-hovered;
    }
  }
}
